/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a{text-decoration: none;}
/* reset */



:root {
    --x: 50vw;
    --y: 50vh;
    --size: max(150px, 210px);
}

.pc_only{display: block;}
.mo_only{display: none;}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:'Mont','NotoSans',sans-serif;
    }

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
main img{
    width: 100%;
    height: 100%;
}

.title{
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}
.title p{
    color: #fff;
    font-size: 24px;
    padding-top: 60px;

}
#spotlight {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    
    mask: url(../images/focus2.svg),
    linear-gradient(#fff 0 0);
    mask-size: var(--size), 100%;
    mask-position: calc(var(--x) - var(--size) / 2)
        calc(var(--y) - var(--size) / 2 * 2),
    left top;
    mask-repeat: no-repeat;
    mask-mode: alpha;

    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
#spotlight.all{
    opacity: 0;
    transition: 1.5s;
}

.kvi{
    position: absolute;
    top: 36.5%;
    left: 25.6%;
    width: 203px;
    height: 113px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.btn_wrap{
    width: 100%;
    position: absolute;
    bottom: 70px;
    z-index: 20;
}
.btn_inner{
    display: flex;
    justify-content: center;
    align-items: center ;
    column-gap: 30px;
    margin-top: 40px;
}
.btn{
    width: 269px;
    height: 68px;
    border-radius: 200px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 66px;
}
.btn.line{
    border: 2px solid #E5451C;
    color: #E5451C;
    background-color: transparent;
}
.btn.full{
    background-color: #F6714F;
    color: #fff;
}
.viewAll{
    width: 160px;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.icon_right{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/Icon_right.png) no-repeat center / contain;
    margin-left: 4px;

}

.popup{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 30;
}
.black_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.pop_wrap{
    position: absolute;
    width: 1116px;
    height: 628px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn_close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -50px;
    right: 0;
    background: url(../images/btn_X.png) no-repeat center / cover;
}

@media screen and (max-width: 1620px) {
    :root {
        --size: max(10vw, 210px);
    }
    #spotlight{
        mask-size: 10vw, 100%;
        mask-position: calc(var(--x) - var(--size) / 3)
        calc(var(--y) - var(--size) / 2 * 1.6),
    left top;
    }
    .kvi{
        width: 10.8vw;
        height: 6vw;
    }
}
@media screen and (max-width: 1280px) {
    #spotlight{
        mask-size: 10vw, 100%;
        mask-position: calc(var(--x) - var(--size) / 3.5)
        calc(var(--y) - var(--size) / 2 * 1.4),
    left top;
    }
    .pop_wrap{
        position: absolute;
        width: 80vw;
        height: 50vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 768px) {
    :root {
        --size: max(20vw, 310px);
    }
    .pc_only{display: none;}
    .mo_only{ display: block;}

    .title{
        width: 100%;
        top: 40px;
    }
    .title img{
        width: 158.72px;
        height: 32.96px;
    }
    .title p{
        color: #fff;
        font-size: 16px;
        padding-top: 44px;
        line-height: 1.5;
    }
    .title p:after{
        content: '';
        display: block;
        width: 2px;
        height: 35px;
        border-left: 2px dotted #fff;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    #spotlight{
        mask-size: 20vw, 100%;
        mask-position: calc(var(--x) - var(--size) / 3.8)
        calc(var(--y) - var(--size) / 2 * 1),
    left top;
    }
    .kvi{
        top: 55.5%;
        left: 29%;
        width: 35vw;
        height: 20vw;
    }
    .btn_wrap{
        bottom: 30px;
    }
    .btn_inner{
        column-gap: 20px;
    }
    .btn{
        width: 150px;
        height: 44px;
        font-size: 16px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -1.5px;
    }
    .viewAll{
        font-size: 16px;
    }
    .icon_right{
        width: 12px;
        height: 12px;
    }

    .btn_close{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 390px) {
    :root {
        --size: max(30vw, 210px);
    }
    #spotlight{
        mask-size: 30vw, 100%;
        mask-position: calc(var(--x) - var(--size) / 4)
        calc(var(--y) - var(--size) / 2 * 1.3),
    left top;
    }
    .kvi{
        width: 34vw;
        height: 22vw;
    }
}